*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
    font-family: "Roboto",sans-serif;

}
a{
    text-decoration: none;
    color: black;
    background-color: transparent;
}
section{
    
    background-color: #fff;
}

.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3rem;
    margin-right: -3rem;
    margin-bottom: 5rem ;
    text-align: center;
    color: #333;
    position: relative;
}
.heading::after{
    content: "";
    width: 30rem;
    height: .8rem;
    background-color: black;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2rem;
}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.5);

}
.card .card-img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path: polygon( 0 0,100% 0,100% 70%, 0% 100%);
    clip-path: polygon(0 0 ,100% 0, 100% 78%, 0 100%);
}
.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 0.5rem solid #ebeef8;
}
.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;

}
.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}
.about{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;

}
.card .btn{
    padding: 1rem 2rem;
    background-color: #000000;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.5rem;
    transition: all .5s;
    font-weight: bold;
}
.card .btn:hover{
    transform: translateY(-2px);
    box-shadow: .5rem 5rem 2rem #fff;
    background-color: #ccc;
    color: black;
}
.card .btn:active{
    transform: translateY(0);
    
}

.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.social-media{
    font-size: 3rem;
}

.social-media a{
	align-items: center;
	justify-content: center;
	color: black;
	text-decoration: none;
	font-size: 30px;
    padding: 10px;
}
.social-media a:hover{
	transform: scale(1.3);
	transition: .3s;
    background-color: black;
    color: white;
    border-radius: 50%;
}

@media screen and (min-width: 700px) {
    .card-wrapper{
        flex-direction : row;
        justify-content:center;
        align-items: center;
    }
    .card{
        margin: 2rem;
    }
}

footer{
    height: 150px;
    margin-top: 70px;
    background-color: black;
    font-size: 20px;
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.demo{
    color: white;
    text-align: center;
    font-size: 23px;
}

.social{
	display: flex;
    align-items: center;
    margin: 5px 45%;
    
}
.social a{
	width: 60px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
    background-color: white;
    color: black;
}
